body{
    background-color:darkslategrey;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    padding: 25px;
}